---
import Card from "./Card.astro";

interface Props {
  data: any[];
  basePath: string;
  titlePage: string;
}

const { data, basePath, titlePage } = Astro.props;
---

<h2 class="mb-4 text-3xl tracking-tight font-extrabold">
  {titlePage}
</h2>
<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
  {
    data.map((item) => (
      <Card
        id={item.id}
        title={item.title}
        description={null}
        img={item.img}
        alergenos={item.alergenos}
        path={`/${basePath}/${item.id}`}
      />
    ))
  }
</div>
