---
import Layout from "../layouts/Layout.astro";

interface Props {
    itemData: any;
}

const { itemData } = Astro.props;
---

<Layout title={itemData?.title}>
    <div class="max-w-lg mx-auto">
        <img src={itemData?.img || "/img/not-found.webp"} alt={itemData?.title} class="w-full h-auto rounded-xl" />
        <h1 class="text-3xl font-bold mt-4">{itemData?.title}</h1>
        <p class="text-lg mt-2">{itemData?.description}</p>
        <p class="text-xl font-semibold mt-4">{itemData?.price}</p>
    </div>
</Layout>